    html{
    }
    body {

    }
    /*
     * Formatting the header area
     */
    div.heading h1 {
        font-style: italic;
        color: red;
        margin-left: 10%;
        text-shadow: 0 1px 0 #ccc,
               0 2px 0 #c9c9c9,
               0 3px 0 #bbb,
               0 4px 0 #b9b9b9,
               0 5px 0 #aaa,
               0 6px 1px rgba(0,0,0,.1),
               0 0 5px rgba(0,0,0,.1),
               0 1px 3px rgba(0,0,0,.3),
               0 3px 5px rgba(0,0,0,.2),
               0 5px 10px rgba(0,0,0,.25),
               0 10px 10px rgba(0,0,0,.2),
               0 20px 20px rgba(0,0,0,.15);
    }
gdd.download_file_from_google_drive(file_id=url, dest_path='./test.pdf' )
    div.user_info h1 {
        font-style: italic;
        color: red;
        text-shadow: 0 1px 0 #ccc,
               0 2px 0 #c9c9c9,
               0 3px 0 #bbb,
               0 4px 0 #b9b9b9,
               0 5px 0 #aaa,
               0 6px 1px rgba(0,0,0,.1),
               0 0 5px rgba(0,0,0,.1),
               0 1px 3px rgba(0,0,0,.3),
               0 3px 5px rgba(0,0,0,.2),
               0 5px 10px rgba(0,0,0,.25),
               0 10px 10px rgba(0,0,0,.2),
               0 20px 20px rgba(0,0,0,.15);
    }
    .container {

    }
    //eading {
         position:absolute;
         font-style:italic;

         top:0%;
         width:40%;
         border: 3px solid blue;
         margin:auto;
         text-shadow: 1px 2px blue;


    }
      div.user_info{
          width: 35%;
          margin: 0 auto;
          margin-top: 1%;
          border: 3px solid black;
          border-radius: 25px;
          position: relative;
      }
      ul.steps {
          font-style:italic;
          list-style-type: square;
}

    div.heading{
          width: 40%;
          margin: 0 auto;
        margin-left: 0px;
        border: 3px solid black;
      position: relative;
                  border-radius: 25px;


    }


    div.form {
        margin: auto;
        width: 90%;
        padding:1%;
    }
    div.upload_info {
        margin: auto;
        margin-top: 1%;
        width: 80% ;
        border: 3px solid black;
                                    border-radius: 25px;

        padding: 1%; /* 3:2 Aspect Ratio */
    }
    h1.catchphrase {

        position: absolute;
        top: 0%;
        right:0%;
        color:white;
        font-size:50px;
        text-shadow: 0 1px 0 #ccc,
               0 2px 0 #c9c9c9,
               0 3px 0 #bbb,
               0 4px 0 #b9b9b9,
               0 5px 0 #aaa,
               0 6px 1px rgba(0,0,0,.1),
               0 0 5px rgba(0,0,0,.1),
               0 1px 3px rgba(0,0,0,.3),
               0 3px 5px rgba(0,0,0,.2),
               0 5px 10px rgba(0,0,0,.25),
               0 10px 10px rgba(0,0,0,.2),
               0 20px 20px rgba(0,0,0,.15);
    }
    div.audio{
        margin: auto;
        width: 90%;
        padding:1%;
        position:relative;

    }
    .menu li {
    }
    .menu li + li {
    }
    .menu li a {

    }
    div.heading img{
    position: absolute;
    top: 0px;
    right: 4%;
      height:100%;

    }
    audio {
      width:70%;
    }

    button.download_button{
        position:absolute;
        top:2%; margin-left:1%; }