<html>
    <div class="container" align="center">
        <head>
            <h2>CSV to Turtle</h2>
        </head>
        <body>

                <form method="POST" action="." enctype = "multipart/form-data">
         <input type = "file" name = "file" />
         <input type = "submit" value="Upload"/>
                    Prefix 1: <input type="text" name="youtube_url"><br>
                    Prefix 2: <input type="text" name="search_term"><br>
                  <input type="submit" value="Submit">
                </form>
                <table style="width:80%">
                  <tr>
                    <th>Column Name</th>
                  </tr>
                    {% for result in results %}
                  <tr>
                    <td>{{result}}</td>
                  </tr>
                    {% endfor %}
                </table>
        <select name="list_status">
            {% for prefix in prefixes %}
            <option value="{{[prefix]}}">{{prefix}}</option>
            {% endfor %}
        </select>
        </body>
    </div>
</html>